.clearfix {
    clear: both;
}

/* --------------- BODY */
body {
    font-family: Tahoma, sans-serif;
    background-color: #ffffff;
    overflow: auto;    
    display: flex;  
    flex-direction: column;
}

/* --------------- PARTICULAS */
#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
    filter: blur(2px);
}

/* --------------- CONTENEDORES*/
.contenedor1 {
    width: 350px;
    height: 350px;      
    border-radius: 50px;
    position: relative;
    display: flex;
    margin: auto; 
}

#contenedor2 {
    position: relative;
    margin: auto;    
    left: 0;
    right: 0;
    width: 300px;
    height: 700px;        
    border-radius: 20px;       
    text-align: center;
    z-index: 1;      
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(5px);     
}

/* --------------- IMAGEN*/

img {
  
    border-radius: 50%;
    box-shadow: 0px 3px 0px #373c3c;
    width: 300px;   
    padding: 5px;    
    margin: auto;
}
 

/* --------------- TEXTO*/

.article {
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

.article h1 {
    font-size: 30px;
    margin-bottom: -10px;    
}

/* --------------- BOTON*/

.button {    
    background: rgba(128, 128, 128, 0.5);
    color: white;
    display: inline-block;
    font-size: 1.25em;
    margin: 10px;
    padding: 10px 0px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
    border-radius: 50px;
    
}

.button.LD:hover {
    background: #0e77a8;
    backdrop-filter: blur(1px);
}

.button.GH:hover {
    background: #333;
    backdrop-filter: blur(1px);
}

.button.SF:hover {
    background: #ff6600;
    backdrop-filter: blur(1px);
}

.button.IG:hover {
    background: #C13584;
    backdrop-filter: blur(1px);
}

.button.YT:hover {
    background: #FF0000;
    backdrop-filter: blur(1px);
}

.button:hover {
    box-shadow: 0px 0px 0px;
    width: 180px;
}